@media screen and (max-width: 420px) {
    /* Custom styles for the hamburger menu */
    .hamburger-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .hamburger-icon {
        fill: white; /* Color of the icon */
        transition: transform 0.3s; /* Smooth transition for the icon */
    }
    
    #mobile-menu { /* Use ID selector for the mobile menu */
        position: static;
        top: 0;
        left: -100%; /* Initially hidden to the left */
        width: 80%; /* Adjust the width as needed */
        /* height: 10%; */
        background-color: transparent; /* Background color for the menu */
        z-index: 2; /* Ensure it appears above other content */
        transition: left 0.3s; /* Smooth slide-in transition */
    }
    
    #mobile-menu.active { /* Use ID selector for the active state of the mobile menu */
        left: 0; /* Slide it in from the left when active */
    }

    /* Style the links inside the menu */
    .mobile-menu-link {
        display: block;
        padding: 20px;
        color: gray;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        transition: background-color 0.3s; /* Smooth background color change on hover */
    }

    .mobile-menu-link:hover {
        background-color: palevioletred;
        color: white; /* Background color on hover */
    }
}